@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hanken Grotesk Medium;
  src: url(HankenGrotesk-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: Hanken Grotesk Bold;
  src: url(HankenGrotesk-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: Hanken Grotesk Extra Bold;
  src: url(HankenGrotesk-ExtraBold.ttf);
  font-display: swap;
}

body {
	margin: 0;
	font-family: Hanken Grotesk Medium, Hanken Grotesk Bold, Hanken Grotesk Extra Bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: white;
	font-size: 18px;
}

h1 {
	font-family: Hanken Grotesk Extra Bold;
}
h2 {
	font-family: Hanken Grotesk Bold;
}
p {
	font-family: Hanken Grotesk Medium;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
